.statistics {
  background-color: #fff;
  width: 276px;
  box-shadow: 0 0 6px 0 #adacac;
}
.title {
  text-align: center;
  padding-top: 20px;
}
.stat_list {
  border-top: 1px solid #e4e9f0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.item:last-child {
  border-right: 0px solid;
}
.item {
  width: 20%;
  text-align: center;
  padding: 18px 5px;
}

.label {
  color: #768696;
  display: block;
  font-size: 14px;
  padding-bottom: 2px;
  margin-bottom: 10px;
}
.percentage {
  font-weight: bold;
  font-size: 17px;
}
